[user]
	email = yusukeshib@gmail.com
	name = Yusuke Shibata
	signingkey = DE78789F9B28DC95C1A99481E0C042B0A1F17C2A
[core]
	editor = vim
	pager = less -x1,3
[commit]
	gpgsign = true
[push]
	default = current
